<div class="content contact">
	<section class="langting">
		<div class="line line1">
			<img src="./images/contact/1.svg">
		</div>
		<div class="line line2">
			<img src="./images/contact/2.svg">
		</div>
		<div class="line line3">
			<img src="./images/contact/3.svg">
		</div>
		<div class="line line4">
			<img src="./images/contact/4.svg">
		</div>
		<div class="line lin5">
			<img src="./images/contact/5.svg">
		</div>
		<div class="line line6">
			<img src="./images/contact/6.svg">
		</div>
		<div class="line line7">
			<img src="./images/contact/7.svg">
		</div>
		<div class="line line8">
			<img src="./images/contact/8.svg">
		</div>
		<div class="line line9">
			<img src="./images/contact/9.svg">
		</div>
		<div class="line line10">
			<img src="./images/contact/10.svg">
		</div>
		<div class="line line11">
			<img src="./images/contact/11.svg">
		</div>
		<div class="line line12">
			<img src="./images/contact/12.svg">
		</div>
		<div class="line line13">
			<img src="./images/contact/13.svg">
		</div>
		<div class="line line14">
			<img src="./images/contact/14.svg">
		</div>
		<div class="line line15">
			<img src="./images/contact/15.svg">
		</div>
		<div class="line line16">
			<img src="./images/contact/16.svg">
		</div>
		<div class="line line17">
			<img src="./images/contact/17.svg">
		</div>
		<div class="line line18">
			<img src="./images/contact/18.svg">
		</div>
		<div class="line line19">
			<img src="./images/contact/19.svg">
		</div>
		<div class="line line20">
			<img src="./images/contact/20.svg">
		</div>
		<div class="line line21">
			<img src="./images/contact/21.svg">
		</div>
		<div class="line line22">
			<img src="./images/contact/22.svg">
		</div>
		<div class="line line23">
			<img src="./images/contact/23.svg">
		</div>
		<div class="line line24">
			<img src="./images/contact/24.svg">
		</div>
		<div class="line line25">
			<img src="./images/contact/25.svg">
		</div>
		<div class="line line26">
			<img src="./images/contact/26.svg">
		</div>
		<div class="line line27">
			<img src="./images/contact/27.svg">
		</div>
	</section>
</div>
