<div class="content form" style="opacity:0;">
	<section class="service">
		<div class="container">
			<div class="row">
				<div class="col-sm-1 col-sm-offset-1 col-xs-10 col-xs-offset-1">
					<div class="vertical-text">
						<h1>找到就是我们</h1>
						<p>CONTACTS</p>
					</div>
				</div>
				<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
					<h3>如何开始</h3>
					<p>很高兴您对我们产生了兴趣，但在一切开始之前，一个准确、高效的简短沟通会为您节省很多时间。请按照下面表单的内容填写您的项目需求和其他信息，我们会认真讨论和评估您的项目，并在两个工作日内以邮件形式给您答复。</p>
				</div>
			</div>
		</div>
	</section>
	<section class="service">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-4 col-xs-10 col-xs-offset-1">
					<div class="form-group">
						<h3>您的基本信息</h3>
						<div class="col-sm-6">
							<div class="input-group">
								<span class="key">Name</span>
								<input type="text" name="name">
								<span class="v-info" id="m_name"></span>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-group">
								<span class="key">Email</span>
								<input type="text" name="email">
								<span class="v-info" id="m_email"></span>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-group">
								<span class="key">Company</span>
								<input type="text" name="company">
								<span class="v-info" id="m_company"></span>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="input-group">
								<span class="key">Website</span>
								<input type="text" name="website">
								<span class="v-info" id="m_website"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-8 col-sm-offset-4 col-xs-10 col-xs-offset-1">
					<div class="form-group">
						<h3>请选择您的账户类型</h3>
						<div class="checkbox-group">
							<input type="checkbox" value="1" name="accountType" id="r1">
							<label class="key" for="r1">Branding</label>
						</div>
						<div class="checkbox-group">
							<input type="checkbox" value="2" name="accountType" id="r2">
							<label class="key" for="r2">User interface or experience</label>
						</div> 
						<div class="checkbox-group">
							<input type="checkbox" value="3" name="accountType" id="r3">
							<label class="key" for="r3">Website design</label>
						</div>
						<div class="checkbox-group">
							<input type="checkbox" value="4" name="accountType" id="r4">
							<label class="key" for="r4">Front-end development</label>
						</div>
						<div class="checkbox-group">
							<input type="checkbox" value="5" name="accountType" id="r5">
							<label class="key" for="r5">Hosting or Reporting&amp;Analysis</label>
						</div>
						<div class="checkbox-group">
							<input type="checkbox" value="6" name="accountType" id="r6">
							<label class="key" for="r6">Video or Photography</label>
						</div>
						<div class="checkbox-group">
							<input type="checkbox" value="7" name="accountType" id="r7">
							<label class="key" for="r7">Motion</label>
						</div>
						<span class="v-info" id="m_accountType"></span>
					</div>
					<div class="form-group">
						<h3>项目的时间规划</h3>
						<div class="checkbox-group">
							<input type="radio" value="1" name="duration" id="r8">
							<label class="key" for="r8">2-3 months</label>
						</div>
						<div class="checkbox-group">
							<input type="radio" value="2" name="duration" id="r9">
							<label class="key" for="r9">3-6 months</label>
						</div>
						<div class="checkbox-group">
							<input type="radio" value="0" name="duration" id="r10">
							<label class="key" for="r10">No specific deadline</label>
						</div>
						<span class="v-info" id="m_duration"></span>
					</div>
					<div class="form-group">
						<h3>您的大概预算</h3>
						<div class="checkbox-group">
							<input type="radio" value="1" name="budget" id="r11">
							<label class="key" for="r11">20,000-50,000</label>
						</div>
						<div class="checkbox-group">
							<input type="radio" value="2" name="budget" id="r12">
							<label class="key" for="r12">50,000-100,000</label>
						</div>
						<div class="checkbox-group">
							<input type="radio" value="3" name="budget" id="r13">
							<label class="key" for="r13">100,000-300,000</label>
						</div>
						<div class="checkbox-group">
							<input type="radio" value="0" name="budget" id="r14">
							<label class="key" for="r14">很多很多..</label>
						</div>
						<span class="v-info" id="m_budget"></span>
					</div>
					<div class="form-group">
						<h3>有关您项目的其它信息</h3>
						<textarea name="others"></textarea>
						<span class="v-info" id="m_others"></span>
					</div>
					<div class="form-group" >
						<h3>从哪里了解到 yiyiyi.studio</h3>
						<div class="col-sm-12">
							<div class="input-group">
								<input type="text" name="where" class="placeholder" placeholder="不会是人行道上的小广告吧..">
								<span class="v-info" id="m_where"></span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<input type="button" value="发送" id="m-submit">
					</div>
				</div>
			</div>
		</div>
	</section>
</div>