
<div class="content index">
	<div class="character-group cg1">
		<img src="/images/index/cg1/ni.svg" class="c1" alt="">
		<img src="/images/index/cg1/de.svg" class="c2" alt="">
		<img src="/images/index/cg1/wang.svg" class="c3" alt="">
		<img src="/images/index/cg1/zhan.svg" class="c4" alt="">
		<img src="/images/index/cg1/hen.svg" class="c5" alt="">
		<img src="/images/index/cg1/shi.svg" class="c6" alt="">
	</div>
	<div class="character-group cg2" >
		<img src="/images/index/cg2/ni.svg" class="c1" alt="">
		<img src="/images/index/cg2/dui.svg" class="c2" alt="">
		<img src="/images/index/cg2/wang.svg" class="c3" alt="">
		<img src="/images/index/cg2/zhan.svg" class="c4" alt="">
		<img src="/images/index/cg2/yi.svg" class="c5" alt="">
		<img src="/images/index/cg2/wu.svg" class="c6" alt="">
		<img src="/images/index/cg2/suo.svg" class="c7" alt="">
		<img src="/images/index/cg2/zhi.svg" class="c8" alt="">
	</div>
	<div class="character-group cg3" >
		<img src="/images/index/cg1/ni.svg" class="c1" alt="">
		<img src="/images/index/cg1/de.svg" class="c2" alt="">
		<img src="/images/index/cg1/wang.svg" class="c3" alt="">
		<img src="/images/index/cg1/zhan.svg" class="c4" alt="">
		<img src="/images/index/cg1/hen.svg" class="c5" alt="">
		<img src="/images/index/cg1/shi.svg" class="c6" alt="">
	</div>
</div>
