<div class="content index">
	<!-- <div class="container">
		<div class="row">
			<div class="col-sm-12"> -->
				<div class="vertical-text">
					<p class="hidden-xs">
						<span>是创意工作室</span>
						<span>是设计师是花</span>
						<span>匠是工程师是</span>
						<span>摄影师是男朋</span>
						<span>友是伙伴是人</span>
						<span>类是视觉动物</span>
						<span>是音乐人是逗</span>
						<span>逼是建筑师是</span>
						<span>奇葩是导演是</span>
						<span>梦想家是厨子</span>
						<span>是产品经理是</span>
						<span>哲学家是艺术</span>
						<span>家是数字工匠</span>
						<span>。。。</span>
					</p>
					<p class="only-show-xs">
						<span>
							是创意工作室是设计师是花匠是工程师是摄影师
						</span>
						<span>
							是男朋友是伙伴是人类是视觉动物是音乐人是逗
						</span>
						<span>
							逼是建筑师是奇葩是导演是梦想家是厨子是产品
						</span>
						<span>
							经理是哲学家是艺术家是数字工匠。。。
						</span>
					</p>
				</div>
			<!-- </div>
		</div>
	</div> -->
</div>