
<div class="content index">
	<div class="character-group cg1">
		<img src="/images/index/ni.svg" class="c1" alt="">
		<img src="/images/index/de.svg" class="c2" alt="">
		<img src="/images/index/wang.svg" class="c3" alt="">
		<img src="/images/index/zhan.svg" class="c4" alt="">
		<img src="/images/index/hen.svg" class="c5" alt="">
		<img src="/images/index/shi.svg" class="c6" alt="">
	</div>
	<div class="character-group cg2" >
		<img src="/images/index/ni.svg" class="c1" alt="">
		<img src="/images/index/de.svg" class="c2" alt="">
		<img src="/images/index/wang.svg" class="c3" alt="">
		<img src="/images/index/zhan.svg" class="c4" alt="">
		<img src="/images/index/hen.svg" class="c5" alt="">
		<img src="/images/index/shi.svg" class="c6" alt="">
	</div>
	<div class="character-group cg3" >
		<img src="/images/index/ni.svg" class="c1" alt="">
		<img src="/images/index/de.svg" class="c2" alt="">
		<img src="/images/index/wang.svg" class="c3" alt="">
		<img src="/images/index/zhan.svg" class="c4" alt="">
		<img src="/images/index/hen.svg" class="c5" alt="">
		<img src="/images/index/shi.svg" class="c6" alt="">
	</div>
</div>
