<header class="black">
	<div class="container">
		<div class="row">
			<div class="col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-1">
				<div class="logo">
					<a href="javascript:;">
						<img class="logo_black" src="./images/logo_white.svg" />
						<img class="logo_white" src="./images/logo_black.svg" />
					</a>
				</div>
			</div>
		</div>
<!-- 		<ul class="list" style="display:none;">
			<li><a href="#works/">works</a></li>
			<li><a href="#about/">about</a></li>
			<li><a href="/yiyiyi.html">contact</a></li>
		</ul> -->
	</div>
</header>
<div class="header-list">
	<ul class="list" >
		<li><a href="./#index/" >Home</a></li>
		<li><a href="./#works/">Works</a></li>
		<li><a href="./#about/">About</a></li>
	</ul>
	<ul class="list fixed-to-footer">
		<li><a href="./yiyiyi.html">yiyiyi</a></li>
	</ul>
</div>
