<header class="black">
	<div class="container">
		<div class="logo">
			<a href="javascript:;">
				<img class="logo_black" src="/images/logo_white.svg" />
				<img class="logo_white" src="/images/logo_black.svg" />
			</a>
		</div>
		<ul class="list" style="display:none;">
			<li><a href="#works/">works</a></li>
			<li><a href="#about/">about</a></li>
			<li><a href="#contact/">contact</a></li>
		</ul>
	</div>
</header>
<div class="header-list">
	<ul class="list" >
		<li><a href="#index/" >yiyiyi</a></li>
		<li><a href="#works/">works</a></li>
		<li><a href="#about/">about</a></li>
		<li><a href="#contact/">contact</a></li>
	</ul>
</div>