<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit"/>
	<meta name="keywords" content="{{keywords}}" />
    <meta name="description" content="{{description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5">
    <title>{{pageTitle}}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
	{% block header %}
		{% include "_header.html" %}
	{% endblock %}

	{% block content %}
  		<p>contnets goes here</p>
    {% endblock %}

    {% block footer %}
      {% include "_footer.html" %}
    {% endblock %}

    {% block scripts %}
    	
    {% endblock %}

</body>
</html>