<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit"/>

    {% block seotag %}
	<meta name="keywords" content="{{keywords}}" />
    <meta name="description" content="{{description}}" />
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5">
    <title>{{pageTitle}}</title>
    <link rel="shortcut icon" href="/favicon.ico">

    {% block styles %}
    <!-- build:css(.) styles/vendor.css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbuild -->
    <!-- build:css(.tmp/) styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css" />
    <!-- endbuild -->
    {%if pageName %}
    <!-- build:css(.tmp/) styles/{{pageName}}.css -->
    <link rel="stylesheet" href="/styles/{{pageName}}.css" />
    <!-- endbuild -->
    {% endif %} 
    <!-- 异步样式 -->
    <!-- build:css(.tmp/) styles/asynchronous/page1.css -->
    <!--<link rel="stylesheet" href="/styles/asynchronous/page1.css" />-->
    <!-- endbuild -->

    <!-- build:css(.tmp/) styles/asynchronous/page2.css -->
    <!--<link rel="stylesheet" href="/styles/asynchronous/page2.css" />-->
    <!-- endbuild -->
    {% endblock %}

</head>
<body>
	{% block header %}
		{% include "_header.html" %}
	{% endblock %}

	{% block content %}
  		<p>contnets goes here</p>
    {% endblock %}

    {% block footer %}
      {% include "_footer.html" %}
    {% endblock %}

    {% block scripts %}
    <!-- build:js(.) scripts/vendors.js -->
        
    <!-- endbuild -->

    <!-- build:js scripts/util.js -->
        <script src="/scripts/jquery.js"></script>
        <script type="text/javascript" src="/scripts/cbsplit.js"></script>
        <script type="text/javascript" src="/scripts/jquery.ba-hashchange.js"></script>
        <script type="text/javascript" src="/scripts/jquery.router.js"></script>
        <script src="/scripts/three.min.js"></script>
        <script src="/scripts/dat.gui.js"></script>
        <script src="/scripts/mutatedfieldinit.js"></script>
        <script type="text/javascript" src="/scripts/myrouter.js"></script>
    <!-- endbuild -->
    {% endblock %}

</body>
</html>