{% extends 'base/_noterrainLayout.html' %}

{% block content %}
	<section class="service">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<h1>找的就是我们</h1>
					<p>很高兴您对我们产生了兴趣，但在一切开始之前，一个准确、高效的简短沟通会为您节省很多时间。请按照下面表单的内容填写您的项目需求和其他信息，我们会认真讨论和评估您的项目，并在两个工作日内以邮件形式给您答复。</p>
				</div>
			</div>
		</div>
	</section>
	<section class="service">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<h3>您的基本信息</h3>
					<div class="form-group">
						<div class="input-group">
							<span class="key">Name</span>
							<input type="text" >
						</div>
						<div class="input-group">
							<span class="key">Name</span>
							<input type="text">
						</div>
						<div class="input-group">
							<span class="key">Name</span>
							<input type="text">
						</div>
						<div class="input-group">
							<span class="key">Name</span>
							<input type="text">
						</div>
					</div>
				</div>
				<div class="col-sm-8">
					
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block scripts %}
	 {% parent %}
	 <!-- build:js scripts/formaction.js -->
	 	<script src="/scripts/form.js"></script>
	 <!-- endbuild -->
{% endblock %}