{% extends 'base/_noterrainLayout.html' %}

{% block content %}
	<section class="service">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<h1>找的就是我们</h1>
					<p>很高兴您对我们产生了兴趣，但在一切开始之前，一个准确、高效的简短沟通会为您节省很多时间。请按照下面表单的内容填写您的项目需求和其他信息，我们会认真讨论和评估您的项目，并在两个工作日内以邮件形式给您答复。</p>
				</div>
			</div>
		</div>
	</section>
	<section class="service">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<h3>您的基本信息</h3>
						<div class="input-group">
							<span class="key">Name</span>
							<input type="text" name="name">
						</div>
						<div class="input-group">
							<span class="key">Email</span>
							<input type="text" name="email">
						</div>
						<div class="input-group">
							<span class="key">Company</span>
							<input type="text" name="company">
						</div>
						<div class="input-group">
							<span class="key">Website</span>
							<input type="text" name="website">
						</div>
					</div>
					<div class="form-group">
						<h3>从哪里了解到 yiyiyi.studio</h3>
						<div class="input-group">
							<input type="text" name="where" class="placeholder" placeholder="不会是人行道上的小广告吧..">
						</div>
					</div>
				</div>
				<div class="col-sm-7 col-sm-offset-1">
					<div class="form-group">
						<h3>请选择您的账户类型</h3>
						<div class="checkbox-group">
							<input type="checkbox" value="1" name="accountType" id="r1">
							<label class="key" for="r1">Branding</label>
						</div>
						<div class="checkbox-group">
							<input type="checkbox" value="2" name="accountType" id="r2">
							<label class="key" for="r2">User interface or experience</s pan>
						</div> 
						<div class="checkbox-group">
							<input type="checkbox" value="3" name="accountType" id="r3">
							<label class="key" for="r3">Website design</label>
						</div>
						<div class="checkbox-group">
							<input type="checkbox" value="4" name="accountType" id="r4">
							<label class="key" for="r4">Front-end development</label>
						</div>
						<div class="checkbox-group">
							<input type="checkbox" value="5" name="accountType" id="r5">
							<label class="key" for="r5">Hosting or Reporting&amp;Analysis</label>
						</div>
						<div class="checkbox-group">
							<input type="checkbox" value="6" name="accountType" id="r6">
							<label class="key" for="r6">Video or Photography</label>
						</div>
						<div class="checkbox-group">
							<input type="checkbox" value="7" name="accountType" id="r7">
							<label class="key" for="r7">Motion</label>
						</div>
					</div>
					<div class="form-group">
						<h3>项目的时间规划</h3>
						<div class="checkbox-group">
							<input type="radio" name="duration" id="r8">
							<label class="key" for="r8">2-3 months</label>
						</div>
						<div class="checkbox-group">
							<input type="radio" name="duration" id="r9">
							<label class="key" for="r9">3-6 months</label>
						</div>
						<div class="checkbox-group">
							<input type="radio" name="duration" id="r10">
							<label class="key" for="r10">No specific deadline</label>
						</div>
					</div>
					<div class="form-group">
						<h3>您的大概预算</h3>
						<div class="checkbox-group">
							<input type="radio" name="budget" id="r11">
							<label class="key" for="r11">20,000-50,000</label>
						</div>
						<div class="checkbox-group">
							<input type="radio" name="budget" id="r12">
							<label class="key" for="r12">50,000-100,000</label>
						</div>
						<div class="checkbox-group">
							<input type="radio" name="budget" id="r13">
							<label class="key" for="r13">100,000-300,000</label>
						</div>
						<div class="checkbox-group">
							<input type="radio" name="budget" id="r14">
							<label class="key" for="r14">很多很多..</label>
						</div>
					</div>
					<div class="form-group">
						<h3>有关您项目的其它信息</h3>
						<textarea name="others"></textarea>
					</div>
					<div class="form-group">
						<input type="button" value="发送" id="info-submit">
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block scripts %}
	 {% parent %}
	 <!-- build:js scripts/formaction.js -->
	 	<script src="/scripts/form.js"></script>
	 	<script src="/scripts/lc-action.js"></script>
	 <!-- endbuild -->
{% endblock %}