{% extends 'base/_layout.html' %}

{% block content %}
	<section class="bg">
		<div class="content">
			<!-- <img src="/images/middle.svg" class="img1" alt="">
			<img src="/images/middle.svg" class="img2" alt="">
			<img src="/images/middle.svg" class="img3" alt=""> -->
		</div>
	</section>

	<section class="load-contents"></section>
{% endblock %}

{% block scripts %}
	 {% parent %}
	 <!-- build:js scripts/scripts1.js -->
	 <script type="text/javascript" src="/scripts/scripts1.js"></script>
	 <!-- endbuild -->
	 <!-- build:js scripts/scripts2.js -->
	 <script type="text/javascript" src="/scripts/scripts2.js"></script>
	 <!-- endbuild -->

{% endblock %}